.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 6vmin;
  padding: 0px;
}

.App-logo-mc {
  color: #f0bb75;

}
.App-logo-render {
 color: white;
}

.App-header {
  background-color: #282c34;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.App-body {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-imgContainer{
  width: 500px;
  height: 650px;
  max-height: 650px;
  position: relative;
}

.App-baseimg {
  width: 100%;
  height: 100%;
}

.App-img0verlay {
  position: absolute;

}
